<h1>Portfolio </h1>
<a href="portfolios/new"> Create New Item</a>
<br>
<%= link_to "Create New Item", new_portfolio_path %>
<br>




<% @portfolio_item.each do |portfolio_item| %>
	<p><%= link_to portfolio_item.title, portfolio_path(portfolio_item.id) %> </p>
	<p><%= portfolio_item.subtitle %> </p>
	<p><%= portfolio_item.body %> </p>
	<%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
	<%= link_to "Edit", edit_portfolio_path(portfolio_item.id) %>
	<a href="/portfolios/<%= portfolio_item.id %>/edit"> Edit Two</a> 
<% end %>